:root {
    --bm-color-action-primary: #0069f5;
    --bm-color-action-primary-hovered: #539dff;
    --bm-color-action-primary-pressed: #005cd3;
    --bm-color-action-primary-subdued: #0c3367;
    --bm-color-action-primary-subdued-hovered: #1f51a4;
    --bm-color-action-primary-subdued-pressed: #6691d8;
    --bm-color-action-primary-disabled: #3f4043;
    --bm-color-action-neutral: #2b2e3a;
    --bm-color-action-neutral-hovered: #343741;
    --bm-color-action-neutral-pressed: #444b59;
    --bm-color-action-neutral-subdued: #27282b;
    --bm-color-action-neutral-subdued-hovered: #3f4043;
    --bm-color-action-neutral-subdued-pressed: #525458;
    --bm-color-action-neutral-disabled: #3f4043;
    --bm-color-action-destructive: #bc5044;
    --bm-color-action-destructive-hovered: #90372e;
    --bm-color-action-destructive-pressed: #712821;
    --bm-color-action-destructive-subdued: #4a1712;
    --bm-color-action-destructive-subdued-hovered: #712821;
    --bm-color-action-destructive-subdued-pressed: #90372e;
    --bm-color-action-destructive-disabled: #3f4043;
    --bm-color-background: #1a1a21;
    --bm-color-background-hovered: #252b3b;
    --bm-color-background-pressed: #212733;
    --bm-color-background-selected: #212530;
    --bm-color-background-backdrop: #00000080;
    --bm-color-background-overlay: #00000080;
    --bm-color-background-divider: #7d8ba2;
    --bm-color-content: #e9f0ff;
    --bm-color-content-subdued: #d0d4dc;
    --bm-color-content-muted: #8e97a5;
    --bm-color-content-hovered: #e7efff;
    --bm-color-content-pressed: #d0d4dc;
    --bm-color-content-disabled: #707277;
    --bm-color-content-on-positive: #f4faf6;
    --bm-color-content-on-attention: #fff7f1;
    --bm-color-content-on-highlight: #f4f9fd;
    --bm-color-content-on-negative: #fff6f4;
    --bm-color-content-on-negative-hovered: #ffefec;
    --bm-color-content-on-negative-pressed: #ffdfda;
    --bm-color-content-primary: #c2dbff;
    --bm-color-content-on-primary: #ecf4ff;
    --bm-color-content-on-inverse: #19191e;
    --bm-color-content-on-destructive: #f4f7fe;
    --bm-color-content-on-interactive: #f4f7fe;
    --bm-color-content-on-background: #ecf2ff;
    --bm-color-content-on-background-subdued: #c5ccda;
    --bm-color-content-on-background-hovered: #e2ebff;
    --bm-color-content-on-background-pressed: #e7efff;
    --bm-color-content-on-background-disabled: #707277;
    --bm-color-interactive: #0069f5;
    --bm-color-interactive-hovered: #539dff;
    --bm-color-interactive-pressed: #0069f5;
    --bm-color-interactive-disabled: #171719;
    --bm-color-interactive-destructive: #bc5044;
    --bm-color-interactive-destructive-hovered: #90372e;
    --bm-color-interactive-destructive-pressed: #712821;
    --bm-color-interactive-destructive-disabled: #171719;
    --bm-color-topbar: #1f1f27;
    --bm-color-topbar-subdued: #24242d;
    --bm-color-content-on-topbar: #dde4f6;
    --bm-color-line-on-topbar: #373a43;
    --bm-color-line-on-topbar-pressed: #575f72;
    --bm-color-link: #2b87ff;
    --bm-color-link-hovered: #96c4ff;
    --bm-color-link-pressed: #509cff;
    --bm-color-line: #373a43;
    --bm-color-line-subdued: #363943;
    --bm-color-line-hovered: #464b57;
    --bm-color-line-pressed: #5e6575;
    --bm-color-line-selected: #454c5a;
    --bm-color-line-disabled: #3f4043;
    --bm-color-line-transparent: #ffffff1a;
    --bm-color-line-positive: #051b0e;
    --bm-color-line-positive-subdued: #051b0e;
    --bm-color-line-highlight: #041828;
    --bm-color-line-highlight-subdued: #041828;
    --bm-color-line-negative: #2f0b08;
    --bm-color-line-negative-subdued: #2f0b08;
    --bm-color-line-negative-disabled: #712821;
    --bm-color-line-attention: #241304;
    --bm-color-line-attention-subdued: #241304;
    --bm-color-focused: #0069f5;
    --bm-color-skeleton: #3f4043;
    --bm-color-surface: #23252d;
    --bm-color-surface-subdued: #35373e;
    --bm-color-surface-hovered: #1d1f25;
    --bm-color-surface-subdued-hovered: #494e57;
    --bm-color-surface-pressed: #525458;
    --bm-color-surface-disabled: #3f4043;
    --bm-color-surface-selected: #1556ab;
    --bm-color-surface-selected-hovered: #1f51a4;
    --bm-color-surface-selected-pressed: #1f51a4;
    --bm-color-surface-attention: #3c220a;
    --bm-color-surface-attention-subdued: #5b3814;
    --bm-color-surface-negative: #4a1712;
    --bm-color-surface-negative-subdued: #712821;
    --bm-color-surface-negative-subdued-hovered: #90372e;
    --bm-color-surface-negative-subdued-pressed: #90372e;
    --bm-color-surface-positive: #0b2e1a;
    --bm-color-surface-positive-subdued: #17492d;
    --bm-color-surface-highlight: #092a42;
    --bm-color-surface-highlight-subdued: #154365;
    --bm-color-surface-highlight-subdued-hovered: #1f5880;
    --bm-color-surface-highlight-subdued-pressed: #1f5880;
    --bm-color-surface-neutral: #444a56;
    --bm-color-surface-neutral-subdued: #373941;
    --bm-color-surface-inverse: #f4f7fe;
    --bm-color-decorative-surface-1: #FFC96B;
    --bm-color-decorative-surface-1-subdued: #FFE4B5;
    --bm-color-decorative-content-1: #7E5700;
    --bm-color-decorative-surface-2: #FFC4B0;
    --bm-color-decorative-surface-2-subdued: #FFE1D7;
    --bm-color-decorative-content-2: #AF294E;
    --bm-color-decorative-surface-3: #92E6B5;
    --bm-color-decorative-surface-3-subdued: #C9F3DA;
    --bm-color-decorative-content-3: #006D41;
    --bm-color-decorative-surface-4: #91E0D6;
    --bm-color-decorative-surface-4-subdued: #C8EFEB;
    --bm-color-decorative-content-4: #006A68;
    --bm-color-decorative-surface-5: #FDC9D0;
    --bm-color-decorative-surface-5-subdued: #FEE4E7;
    --bm-color-decorative-content-5: #AE2B4C;
    --bm-color-decorative-surface-6: #7CD4FD;
    --bm-color-decorative-surface-6-subdued: #BDE9FE;
    --bm-color-decorative-content-6: #065986;
    --bm-color-decorative-surface-7: #BDB4FE;
    --bm-color-decorative-surface-7-subdued: #DED9FF;
    --bm-color-decorative-content-7: #4A1FB8;
}